body {
  background-color: black;
  color: white;
}
p {
  font-family: sans-serif;
}
.header {
  border-bottom: 2px solid #d1d1d1;
  padding: 10px;
  text-align: center;
}
a:link {
  color: slateblue;
}
a:visited {
  color: violet;
}
