body {
  background-color: black;
  color: white;
  padding: 10px;
}
p {
  font-family: sans-serif;
}
header {
  border-bottom: 2px solid #d1d1d1;
  text-align: center;
  background-color: black;
  position: sticky;
  top: 0px;
  width: 99%;
  overflow: hidden;
}
footer {
  background-color: black;
  font-style: italic;
  border-top: 2px solid #d1d1d1;
  position: relative;
  bottom: 0;
  width: 95%;
  margin-top: 50px;
}
a:link {
  color: dodgerblue;
}
a:visited {
  color: slateblue;
}
